
.CardWebinar{
    box-shadow: 1px 2px 5px #666;
}


/*Card Title*/

.CardTitle{
    font-size: 2.25rem;
    margin: 6px 0;
    display: none;
}

@media screen and (min-width: 770px){
    .CardTitle{
        display: block;
    }
}

.CardTitle a{
    color: var(--text-color);
    text-decoration: none;
    
}

.CardTitle a:hover{
    color: var(--blue-primary)
}

/* Titulo que se muestra en mobile */

.CardTitleMobile{
    font-size: 1.8rem;
    text-align: center;
    margin: 20px 0;
    display: block;
}

.CardTitleMobile a{
    color: var(--text-color);
}

.CardTitleMobile a:hover{
    color: var(--blue-primary);
}

@media screen and (min-width: 770px){
    .CardTitleMobile{
        display: none;
    }
}

/*Content*/

.Content{
    padding: 20px 0 0 0;
    color: var(--text-color);
    display: none;
}

@media screen and (min-width: 770px){
    .Content{
        display: block;
    }
}



/* Para darle estilo al Publication Date */
.WebinarAuthorInfo div:nth-child(2){
    margin-left: 20px;
    font-weight: normal;
}


@media screen and (min-width: 770px){
    .WebinarAuthorInfo div:nth-child(2){
        margin-left: 0px;

    } 
}

