

.CardBody{
    border-bottom: 1px solid #dee2e6;
    padding: 1rem 2rem;
}

.CardImage{
    object-fit: cover;
    height: 380px;
}
/*Card Title*/

.PublishedTitle{
    color: var(--text-color);
    font-size: 2.25rem;
    margin: 6px 0;
}

.PublishedTitle a{
    color: var(--text-color);
    text-decoration: none;
    
}

.PublishedTitle a:hover{
    color: var(--blue-primary)
}

.PublishedSustance{
    margin: 0px 0px 14px 0;
}

@media screen and (min-width: 992px){
    .PublishedSustance{
        margin: 10px;
    }
}



.PublishedFormula{
    color: var(--text-color);
}

/*Tags*/

.PublishedTags {
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
    display: inline-block;
    color: var(--blue-secondary);
}
.PublishedTags a:link, .PublishedTags a:visited, .PublishedTags a:active {
    text-decoration: none;
    color: var(--dark-grey);
    line-height: 1.3;
    border-radius: 5px;
    padding: 0.5rem 0.3rem 0.5rem 0;
}
.PublishedTags a:link span, .PublishedTags a:visited span, .PublishedTags a:active span {
    color: var(--dark-grey);
}
.PublishedTags a:hover {
    color: var(--dark-grey);
}

/*Content*/

.PublishedContent{
    padding: 20px 0 0 0;
    color: var(--text-color);
}


/**************************************************************************************/

.ReplyCard{
    padding: 10px 2rem;
}



/***** Post Comment ******/

.CommentWrapper button{
    background-color: var(--aqua);
    color: #fff;
    border-radius: 30px;
    margin-top: 10px;
    float: right;
}