footer{
    background-color: var(--blue-ligth);
    height: 90px;
    display:grid;
    align-items: center;
    bottom: 0 !important;
    pointer-events: none;
    position: absolute;
    width: 100%;
}
@media screen and (max-width: 770px){
    footer {
        height: 65px !important;
    }
}

.footer-menu{
    justify-content: space-around;
}

footer .icon{
    font-size: 40px;
    color: var(--blue-secondary);
}


footer .active{
    color: var(--blue-primary) !important;
}