.tnks{
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .banner-tnks {
    width: 100%;
    display: block;
    margin: auto;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  @media screen and (min-width: 770px) {
    .banner-tnks {
      height: auto;
      width: 430px;
    }
  }