:root {
  --text-color: #6c6a6a;
  --aqua: #53d2d3;
  --blue-primary: #3c58c1;
  --blue-secondary: #5a96c4;
  --blue-ligth: #cbe8f6;
  --hover-blue: invert(33%) sepia(69%) saturate(602%) hue-rotate(188deg) brightness(97%) contrast(98%);
  --background-color: #f0f2f5;
  --white: #ffffff;
  --blue-menu: #b8dff3;
  --light-grey: #fafafa;
  --dark-grey: #08090a;
}

html,body{height:100%;}

body {
  background-color: var(--background-color);

  font-family: "Roboto", sans-serif;
}

h1{
  color: var(--blue-secondary);
  font-weight: 700;
}

p{
  font-size: 18px;
  color: var(--text-color);
}

.select {
  appearance: auto;
}

.form-wrapper{
  margin: 0 0 2rem 0;
}

@media screen and (min-width: 770px){
  .form-wrapper{
      margin: 0;
  }
} 
