:root {
  --text-color: #6c6a6a;
  --aqua: #53d2d3;
  --blue-primary: #3c58c1;
  --blue-secondary: #5a96c4;
  --blue-ligth: #cbe8f6;
  --hover-blue: invert(25%) sepia(43%) saturate(2122%) hue-rotate(207deg)
    brightness(111%) contrast(91%);

  --background-color: #f0f2f5;
  --white: #ffffff;
  --light-grey: #fafafa;
}

body {
  background-color: var(--background-color);

  font-family: "Roboto", sans-serif;
}

.icon-left-menu {
  color: var(--text-color);
  font-size: 30px;
}
.icon-left-menu:hover {
  filter: var(--hover-blue);
  cursor: pointer;
}

.select {
  appearance: auto;
}

