footer{
    background-color: var(--blue-ligth);
    height: 70px;
    display:grid;
    align-items: center;
    pointer-events: none;
    width: 100%;
    margin-top: auto;
    bottom: 0px;
    position: fixed;
}

.footer-menu{
    justify-content: space-around;
}

footer .icon{
    font-size: 40px;
    color: var(--blue-secondary);
}


footer .active{
    color: var(--blue-primary) !important;
}

@media screen and (min-width: 770px){
    footer {
        height: 65px ;
    }
}