.btn-link {
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  padding: 0.5rem 0.5rem;
}
.btn-link.aqua {
  color: var(--aqua);
}
.btn-link.blue {
  color: var(--blue-primary);
}
.button {
  color: var(--white);
  border-radius: 20px;
  padding: 0.5rem 2rem;
  /*border: 1px solid var(--text-color);*/
}

.button:hover {
  color: white;
  transform: translate(0px, -2px);
  box-shadow: 0px 8px 13px -3px rgba(28, 65, 86, 0.46);
  transition: all 0.4s ease;
}
.button.aqua {
  background-color: var(--aqua);
}
.button.aqua:hover {
  background-color: var(--blue-secondary) !important;
}

.button.blue {
  background-color: var(--blue-primary);
}
.button.secondary {
  background-color: var(--blue-secondary);
}

.button.secondary:hover {
  background-color: var(--aqua) !important;
}

.button.secondary.newArticle {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
