

.AuthorWrapper{
    height: auto;
    display: flex;
}

/*Name and creation Date*/

.AuthorName{
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
}

.AuthorName div:first-of-type{
    font-weight: bold;
    font-size: 0.875rem;
    color: var(--text-color);
    margin-right: 12px;
}

.AuthorName div:last-of-type{
    font-size: 0.875rem;
    color: var(--text-color);
}

.AuthorName div:hover{
    color: var(--text-color);
}

/*Card Title*/

.CardTitle{
    font-size: 2.25rem;
    margin: 6px 0;
}

.CardTitle a{
    color: var(--text-color);
    text-decoration: none;
    
}

.CardTitle a:hover{
    color: var(--blue-primary)
}

/*Tags*/

.Tags {
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
    display: inline-block;
    color: var(--blue-secondary);
}
.Tags a:link, .Tags a:visited, .Tags a:active {
    text-decoration: none;
    color: var(--dark-grey);
    line-height: 1.3;
    border-radius: 5px;
    padding: 0.5rem 0.3rem 0.5rem 0;
}
.Tags a:link span, .Tags a:visited span, .Tags a:active span {
    color: var(--dark-grey);
}
.Tags a:hover {
    color: var(--dark-grey);
}
.Tags.Tags-color a {
    padding: 5px 10px !important;
    margin-right: 6px;
}


/*Reactions*/

.Reactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    color: #4f4f4f;
   /*margin: 0.5rem 0 0;
   */
}
.Reactions .ReactionsWrapper {
    display: flex;
    margin: 1rem 0;
}

.Reactions .ReactionsWrapper a img {
    margin-right: 12px;
}
.Reactions .ReactionsWrapper a {
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: auto 1.5rem auto 0px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 12pt;
    padding: 6px;
}
.Reactions .ReactionsWrapper a:hover {
    background-color: var(--light-grey);
    color: #000;
}

.Reactions .ReactionsWrapper svg {
    margin-right: 10px;
    font-size: 16pt;
    color: var(--blue-primary)
}