.CheckboxComponent input{

    border: 3px solid var(--text-color);
    color: var(--text-color);
    margin-right: 4px;
}

.CheckboxComponent input:checked{
    background-color: var(--text-color);
    border-color: var(--text-color);
}

.CheckboxComponent input:checked[type="checkbox"]{
    background-size: 16px;
}