/***** Name and creation Date ******/

.AuthorWrapper{
    height: auto;
    display: flex;
    color: var(--text-color);
}

.AuthorWrapperBetween{
    height: auto;
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
}

/*Author Data*/
.AuthorData{
    display: flex;
    align-items: center;
    font-size: 12pt;
}

.AuthorData img{
    margin-right: 20px;
}

.AuthorName{
    margin-right: 20px;
    font-weight: bold;
}

/*Date Data*/
.DateData{
    display: flex;
    align-items: center;
    font-size: 12pt;
}
