/***** Name and creation Date ******/

.AuthorWrapper{
    height: auto;
    display: block;
    color: var(--text-color);
}

@media screen and (min-width: 770px){
    .AuthorWrapper{
        display: flex;
    }
}


/*Author Data*/
.AuthorData{
    display: flex;
    align-items: center;
    font-size: 12pt;
}

.AuthorData img{
    margin-right: 20px;
}

.AuthorName{
    display: block;
    font-weight: bold;
}

@media screen and (min-width: 770px){
    .AuthorName{
        display: flex;
    }
    
}

/* Para darle estilo al Componente de Publication Date */
.AuthorName div:nth-child(2){
    margin-left: 0px;
    font-weight: normal;
}


@media screen and (min-width: 770px){
    .AuthorName div:nth-child(2){
        margin-left: 20px;

    } 
}

