.Banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    margin-top: 12px;
    cursor: pointer;
    border-radius: 6px;
}

.BannerHigher{

}

.CardIconPlay{
    position: absolute;
    z-index: 2;
}

.CardImage{
    height: 230px;
    object-fit: cover;
    opacity: 0.8;
}

.CardImageHigher{
    height: 320px;
    object-fit: cover;
    opacity: 0.8;
}
