.icon {
  color: var(--text-color);
  /* font-size: 30px; */
}
.icon:hover {
  /*filter: var(--hover-blue);*/
  cursor: pointer;
}

.icons-home .icon{
  font-size: 200px;
  color: var(--blue-secondary);
  display:block;
  margin:auto;
}

.icon-label{
  font-size: 22px;
  text-align: center;
  color: var(--blue-secondary);
  padding-top: 20px;
  font-weight: bold;
}

a{
  text-decoration: none;
}

.active {
  color: var(--blue-primary);
}
.active:hover {
  color: var(--hover-blue) !important;
}

.hamburger {
  width: 30px;
  height: 24px;
  color: var(--blue-ligth);
}

.deleteIcon{
  color: var(--blue-secondary);
  font-size: 20px;
}

.deleteIcon:hover{
  color: var(--aqua);
}
