.AppInput_InputComponent{
    border-radius: 4px;
    color: var(--text-color);
    border: 0px;
    padding: 10px 24px;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
}

::placeholder{
    color: var(--text-color);
    opacity: 1;
}



.UservalidateContainer p{
    margin: 0;
    font-size: 11pt;
}

@media screen and (min-width: 770px){
    .UservalidateContainer p{
        margin: 0;
        font-size: inherit;
    }
}


.UservalidateContainer .label{
    margin: 0;
}



h5{
    font-size: 12pt;
}

@media screen and (min-width: 770px){
    h5{
        font-size: inherit;
    }
}


.UservalidateContainer .Button{
    background-color: var(--aqua);
    margin: 20px auto !important;
}